@use "../../app/vars";

.articles-list {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #000000;

    @media (min-width: vars.$tablet-w) {
      margin-bottom: 60px;
      padding: 40px;
    }
  }
}