$mob-s: 640px;
$tablet-w: 768px;
$desk-w: 960px;
$desk-w-lg: 1200px;

$mainFont: 'DM Sans';
$fontSize: 18px;
$lineHeight: 24px;

$lightGreen: #118DA8;
$lightWhite: rgba(255, 255, 255, 0.7);
$black: #191919;

$containerWidth: 1440px;