@use '../app/vars';

.page-header {
  margin-bottom: 40px;

  &__inner {
    position: relative;
    padding: 22px 0;
    display: flex;
    align-items: center;

    @media (min-width: vars.$tablet-w) {
      padding: 42px 0;
    }
  }

  .logo {
    margin-right: auto;
  }
}


.main-nav {
  margin-left: auto;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: -25px;
  right: -25px;

  @media (min-width: vars.$tablet-w) {
    position: static;
    width: auto;
    opacity: 1;
    visibility: visible;
    z-index: 15;
  }

  &.active {
    display: block;
    opacity: 1;
    visibility: visible;
    z-index: 999;

    li {
      transform: rotateX(0deg);
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: vars.$black;

    li {
      @media (max-width: #{vars.$tablet-w - 1px}) {
        width: 100%;
        text-align: center;
        transition: transform .3s ease;
        transform: rotateX(90deg);

        @for $i from 4 through 1 {
          &:nth-child(#{$i}) {
            transition-delay: calc(#{$i}s / 6);
          }
        }
      }

      @media (min-width: vars.$tablet-w) {
        margin-left: 40px;
      }

      &:first-child {
        margin-left: 0;

        a {
          border-top: 1px solid vars.$lightWhite;

          @media (min-width: vars.$tablet-w) {
            border-top: none;
          }
        }
      }
    }

    a {
      padding: 16px 0;
      display: block;
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
      color: #ffffff;

      border-bottom: 1px solid vars.$lightWhite;

      @media (min-width: vars.$tablet-w) {
        padding: 0;
        font-size: 18px;
        line-height: 27px;
        border: none;
      }

      &.active {
        color: vars.$lightGreen;
      }

      &:hover {
        color: vars.$lightGreen;
      }
    }
  }
}

.mobile-button-menu {
  svg {
    width: 26px;
    height: 26px;
    color: #ffffff;
  }
}