@use '../../app/vars';

.page-footer {
  padding-bottom: 80px;

  @media (min-width: vars.$desk-w) {
    padding-bottom: 127px;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 20px;
  }

  .left-column {
    @media (max-width: #{vars.$tablet-w - 1px}) {
      grid-column: 1/4;
    }
  }

  .middle-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .right-column {
    @media (max-width: #{vars.$mob-s - 1px}) {
      grid-column: 1/4;
    }
  }

  .logo {
    margin-bottom: 25px;
    display: block;
  }

}

.footer-nav {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      font-size: 17px;
      line-height: 27px;
      color: #ffffff;

      &:hover {
        color: vars.$lightGreen;
      }
    }
  }
}